<h1><%= @merchant.name %> Bulk Discounts</h1>
<br>
<%= link_to 'New Bulk Discount', new_merchant_bulk_discount_path(@merchant) %>
<br><br>
<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <li> Percentage Discount: <%= discount.percentage_discount %> Quantity Threshold: <%= discount.quantity %>
    <%= link_to 'Details', merchant_bulk_discount_path(@merchant, discount)%>
    <%= link_to 'Delete', merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    </li>
  </section>
<% end  %>
<br>
<aside id="holidays">
  <% @holidays.each do |holiday| %>
    <p> <%= holiday[:name] %>
    <%= holiday[:date] %></p>
  <% end %>
</aside>
